@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Open+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgba(14, 68, 245, 0.349);
  background-color: rgba(95, 89, 89, 0.3215686275);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contactoAbajo {
  display: inline-flex;
  padding: 6.5%;
}

.contenedorLogo {
  width: 30%;
  display: inline-flex;
  padding-top: 20px;
}

.logo {
  width: 25%;
  filter: drop-shadow(8px 6px 4px rgba(211, 208, 208, 0.9647058824));
}

.linkRedes {
  text-decoration: none;
  padding-left: 20px;
}

.icon {
  color: white;
  font-size: 2rem;
}

.main {
  background-image: url("../assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main hr {
  padding-bottom: 1vh;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.sectionCards {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.sectionCards h2 {
  font-size: 2rem;
  font-family: "Mukta", sans-serif;
  padding-bottom: 5vh;
}

.card {
  margin-top: 15vh;
  width: 30%;
  display: inline-flex;
  box-shadow: 2px 13px 32px 19px rgba(110, 106, 106, 0.75);
  -webkit-box-shadow: 2px 13px 32px 19px rgba(110, 106, 106, 0.75);
  -moz-box-shadow: 2px 13px 32px 19px rgba(110, 106, 106, 0.75);
  background-color: rgba(107, 104, 104, 0.3568627451);
  padding: 2px;
}

.card img {
  width: 90%;
  height: 40vh;
  object-fit: cover;
}

/* Estilos para el section */
section.extralarge-section {
  background-color: transparent; /* Fondo transparente */
  padding: 80px 0; /* Ajusta el espaciado según sea necesario */
}

/* Estilos para los contenedores internos */
.container {
  background-color: #fff; /* Fondo blanco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Ajusta el espaciado según sea necesario */
}

/* Estilos para las áreas de características individuales */
.single-features-area {
  background-color: #f5f5f5; /* Fondo gris claro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Ajusta el espaciado según sea necesario */
}

/* Estilos para los títulos y textos */
h2, h6, h5 {
  color: #333; /* Color de texto oscuro */
}

/* Estilos para los botones */
.btn {
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Color de texto oscuro */
  border: 2px solid #333; /* Borde oscuro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.btn:hover {
  background-color: #333; /* Fondo oscuro al pasar el cursor */
  color: #fff; /* Color de texto claro al pasar el cursor */
}

/* Opcional: Estilos para las imágenes */
.single-features-area img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  display: block;
  margin-bottom: 10px;
}

/* Estilos generales */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}

.carousel-item.active {
  display: block;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.carousel-caption h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.carousel-caption p {
  font-size: 16px;
  color: #333;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: rgb(255, 255, 255);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.row {
  margin-bottom: 20px;
}

.col {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  color: #333;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.footer {
  background-color: rgba(204, 199, 199, 0.9647058824);
  color: white;
  height: auto;
  text-align: center;
}

.footer p {
  font-size: 1.5rem;
  font-family: "Mukta", sans-serif;
  padding-top: 10px;
}

.navegacion {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.listaItem {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-top: 0;
}

.linkNav {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/* Dispositivos móviles */
@media (max-width: 767px) {
  /* Cambia el tamaño del logo */
  .logo {
    width: 50%;
  }
  /* Ajusta el ancho del contenedor del logo */
  .contenedorLogo {
    width: 50%;
  }
  /* Ajusta el ancho del contenedor de navegación */
  .navegacion {
    width: 50%;
  }
  /* Ajusta el tamaño de fuente de los enlaces de navegación */
  .linkNav {
    font-size: 1.2rem;
  }
  /* Ajusta el ancho del contenedor del título del encabezado */
  .contenedorTituloHeader {
    width: 70%;
    height: 40vh;
    margin-top: 10vh;
  }
  /* Ajusta el tamaño de fuente del título y subtítulo del encabezado */
  .contenedorTituloHeader h1,
  .contenedorTituloHeader p {
    font-size: 1.5rem;
  }
  /* Ajusta el tamaño de las tarjetas */
  .card {
    margin-top: 10vh;
    width: 80%;
  }
  /* Ajusta el tamaño de fuente del pie de página */
  .footer p {
    font-size: 1rem;
  }
}
/* Dispositivos pequeños */
@media (min-width: 768px) and (max-width: 991px) {
  /* Cambia el tamaño del logo */
  .logo {
    width: 35%;
  }
  /* Ajusta el ancho del contenedor del logo */
  .contenedorLogo {
    width: 35%;
  }
  /* Ajusta el ancho del contenedor de navegación */
  .navegacion {
    width: 50%;
    text-align: center;
  }
  /* Ajusta el tamaño de fuente de los enlaces de navegación */
  .linkNav {
    font-size: 1.3rem;
  }
  /* Ajusta el ancho del contenedor del título del encabezado */
  .contenedorTituloHeader {
    width: 50%;
    height: 40vh;
    margin-top: 10vh;
  }
  /* Ajusta el tamaño de fuente del título y subtítulo del encabezado */
  .contenedorTituloHeader h1,
  .contenedorTituloHeader p {
    font-size: 1.8rem;
  }
  /* Ajusta el tamaño de las tarjetas */
  .card {
    margin-top: 10vh;
    width: 45%;
  }
}
/* Dispositivos medianos */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Ajusta el tamaño de fuente de los enlaces de navegación */
  .linkNav {
    font-size: 1.5rem;
  }
  /* Ajusta el ancho del contenedor del título del encabezado */
  .contenedorTituloHeader {
    width: 50%;
    height: 50vh;
    margin-top: 10vh;
  }
  /* Ajusta el tamaño de fuente del título y subtítulo del encabezado */
  .contenedorTituloHeader h1,
  .contenedorTituloHeader p {
    font-size: 2rem;
  }
  /* Ajusta el tamaño de las tarjetas */
  .card {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
