body{
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #5f595952;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}